* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

#container {
  top: 50px;
  margin: 50px 0;
  /* I'm alttle confuse as to what the max height is different from the widths */
  max-height: 828px; 
  max-width: 768px;
  outline: solid red;
}

.grid {
  display: inline-block;
  min-height: 48px;
  min-width: 48px;
  border: none;
  outline: solid;
  margin: 0;
  padding: 0;
}