/* * {
  box-sizing: border-box;
} */
/* 
body {
  display: flex;
  justify-content: center;
} */

#container {
  display: grid;
  position:absolute;
  top: 50px;
  left: 15%;
  margin: 50px 0;
  height: 960px;
  width: 960px;
  grid-gap: 0rem;
  /* min-width: 0; */
  outline: solid black;
  grid-template-columns: repeat(16, 1fr);
  /* grid-template-rows: repeat(16, 1fr); */
}

#container > div, .grid {
  display: inline-grid;
  grid-gap: 0;
  /* text-align: center; */
  /* display: inline-block; */
  /* height: 48px; */
  /* width: 48px; */
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  outline:  1px solid #000;
  margin: 0;
  padding: 0;
}





/* .grid-container{
  display: grid;
  grid-template-columns: repeat(10, 100px);
} */


/* Background Styles Only */

/* * {
  font-family: Raleway;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #333;
  height: 100%;
  margin: 0;
}

.grid-container {
  position: relative;
  padding: 20px;
  width: 100%;
}

.grid-item {
  position: relative;
  font-size: 25px;
  padding: 20px;
  padding-top: 50px;
  background-color: #379ad6;
  color: #222;
  border: 1px solid white;
}

.grid-item:nth-child(odd){
  background-color: #5bbdfa;
}

.grid-item::before{
  content: 'Grid Item';
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  top: 10px;
  left: 15px;
}

.grid-item::after{
  position: absolute;
  font-size: 25px;
  top: 10px;
  right: 15px;
  font-weight: bold;
}

.grid-item-1::after{
  content: '1';
}
.grid-item-2::after{
  content: '2';
}
.grid-item-3::after{
  content: '3';
}
.grid-item-4::after{
  content: '4';
}
.grid-item-5::after{
  content: '5';
}
.grid-item-6::after{
  content: '6';
}
.grid-item-7::after{
  content: '7';
}
.grid-item-8::after{
  content: '8';
}
.grid-item-9::after{
  content: '9';
}
.grid-item-10::after{
  content: '10';
} */
